@media screen and (min-width: 768px)
    .header__nav
        padding: 18px 5%
        max-width: 1140
        margin: auto
        .header__nav__ul
            width: 100%
            justify-content: center
            margin: auto
            li
                @for $list from 2 through 4
                    &:nth-child(#{$list})
                        margin-left: 77px
    .header__nav__i
        display: none

    .header__container
        padding: 60px 5% 50px 5%
        max-width: 1140
        margin: auto

    .header__container__banner
        grid-column: 3/span 4
        grid-row: 1/span 4
    .header__container__title
        grid-column: 1 / span 2
        grid-row: 1
        text-align: left
        font-weight: 600
        font-size: 40px
        line-height: 61px
        letter-spacing: 0.2px

    .header__container__info
        grid-column: 1 / span 2
        grid-row: 2
        text-align: left

    .header__container__button
        grid-column: 1 / span 2
        grid-row: 3
        margin: 0

    .header__container__avatar-group
        grid-column: 1 / span 2
        grid-row: 4
        margin: 0

    .new-comer
        display: flex
        flex-wrap: wrap
        justify-content: center
        gap: 50px
        margin-top: 50px
        .card
            width: 500px
            display: grid
            border: 1px solid #ccc
            border-radius: 8px
            padding: 12px
            .image-card
                border-radius: 8px
                background-color: #F5F5F5
                height: min-content
                padding: 20px
                margin: auto 0
            .description
                grid-row: 1
                grid-column: 2/span3
                margin-left: 8px
                h4,h5
                    margin: 0 0 16px 0
                p
                    text-align: left
